---
title: Notes
layout: default
description: "读书笔记"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="one-tag-list">
               
                <span id="搜索相关" class="fa fa-tag listing-seperator">
                    <span class="tag-text">Java相关</span>
                </span>
                <div class="post-preview">
                    <a href="java/java8Lambdas/">
                        <h3 class-"post-title"> Java 8 Lambdas: Fuctional Programming for the Masses </h3> 
                    </a>
                </div>
                <span id="微服务相关" class="fa fa-tag listing-seperator">
                    <span class="tag-text">微服务相关</span>
                </span>
                <div class="post-preview">
                    <a href="microService/microServicePrinciple/">
                        <h3 class-"post-title"> 【技术博客】华为内部如何实施微服务架构？基本就靠这5大原则 </h3> 
                    </a>
                </div>
                <span id="搜索相关" class="fa fa-tag listing-seperator">
                    <span class="tag-text">搜索相关</span>
                </span>
                <div class="post-preview">
                    <a href="search/lucenePrincipleAndCodeAnalysis/">
                        <h3 class-"post-title"> Lucene原理与代码分析完整版 </h3> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>