---
title: Notes
layout: default
description: "读书笔记"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="one-tag-list">
               
                <span id="Java相关" class="fa fa-tag listing-seperator">
                    <span class="tag-text">Java相关</span>
                </span>
                <div class="post-preview">
                    <a href="java/java8Lambdas/">
                        <h3 class-"post-title"> Java 8 Lambdas: Fuctional Programming for the Masses </h3> 
                    </a>
                </div>
                <div class="post-preview">
                    <a href="java/highConcurrentProgramming/">
                        <h3 class-"post-title"> 实战Java高并发程序设计 </h3> 
                    </a>
                </div>
                <div class="post-preview">
                    <a href="java/jvmScala/">
                        <h3 class-"post-title"> 【技术博客】从JVM说起到初探Scala应用实践 </h3> 
                    </a>
                </div>
                <div class="post-preview">
                    <a href="java/properWaysOfUsingJava8Optional/">
                        <h3 class-"post-title"> 【技术博客】使用Java8 Optional的正确姿势 </h3> 
                    </a>
                </div>
				<div class="post-preview">
                    <a href="java/javaAnnotationGuide/">
                        <h3 class-"post-title"> 【技术博客】Java 注解指导手册-终极向导 </h3> 
                    </a>
                </div>
				
                <span id="函数式编程相关" class="fa fa-tag listing-seperator">
                    <span class="tag-text">函数式编程相关</span>
                </span>
                <div class="post-preview">
                    <a href="functional/functionalThinking/">
                        <h3 class-"post-title"> Functional Thinking </h3> 
                    </a>
                </div>
                <div class="post-preview">
                    <a href="functional/functionalProgrammingPatterns/">
                        <h3 class-"post-title"> Functional Programming Patterns in Scala and Clojure (Write Lean Programs for the JVM) </h3> 
                    </a>
                </div>

		<span id="缓存相关" class="fa fa-tag listing-seperator">
                    <span class="tag-text">缓存相关</span>
                </span>
                <div class="post-preview">
                    <a href="cache/memcachedAndRedis/">
                        <h3 class-"post-title"> 【技术博客】memcached与reds实现的对比 </h3> 
                    </a>
                </div>


		<span id="数据库相关" class="fa fa-tag listing-seperator">
                    <span class="tag-text">数据库相关</span>
                </span>
                <div class="post-preview">
                    <a href="db/deepUnderstandingMariaDBMySQL/">
                        <h3 class-"post-title"> 深入理解MariaDB与MySQL </h3> 
                    </a>
                </div>
                <div class="post-preview">
                    <a href="db/highPerformanceMySQL/">
                        <h3 class-"post-title"> 高性能MySQL </h3> 
                    </a>
                </div>
                <div class="post-preview">
                    <a href="db/dbArchitectDesign/">
                        <h3 class-"post-title"> 【技术博客】数据库软件架构设计些什么 </h3> 
                    </a>
                </div>
				<div class="post-preview">
                    <a href="db/mysql57InnoDB/">
                        <h3 class-"post-title"> 【技术博客】MySQL 5.7 InnoDB新特性图文详解（分享实录）</h3> 
                    </a>
                </div>
				<div class="post-preview">
                    <a href="db/mysql57MultisourceReplication/">
                        <h3 class-"post-title"> 【技术博客】性能提升利器：MySQL 5.7多源主从复制的独特性</h3> 
                    </a>
                </div>
				<div class="post-preview">
                    <a href="db/dbMiddleware/">
                        <h3 class-"post-title"> 【技术博客】数据库相关中间件全家桶</h3> 
                    </a>
                </div>

                <span id="微服务相关" class="fa fa-tag listing-seperator">
                    <span class="tag-text">微服务相关</span>
                </span>
                <div class="post-preview">
                    <a href="microservice/microServicePrinciple/">
                        <h3 class-"post-title"> 【技术博客】华为内部如何实施微服务架构？基本就靠这5大原则 </h3> 
                    </a>
                </div>
                <div class="post-preview">
                    <a href="microservice/buildMicroServiceSystem/">
                        <h3 class-"post-title"> 【技术博客】利用开源社区打造微服务生态体系 </h3> 
                    </a>
                </div>

                <span id="搜索相关" class="fa fa-tag listing-seperator">
                    <span class="tag-text">搜索相关</span>
                </span>
                <div class="post-preview">
                    <a href="search/lucenePrincipleAndCodeAnalysis/">
                        <h3 class-"post-title"> Lucene原理与代码分析完整版 </h3> 
                    </a>
                </div>
		        <div class="post-preview">
                    <a href="search/theSearchEngine/">
                        <h3 class-"post-title"> 这就是搜索引擎（核心技术详解）</h3> 
                    </a>
                </div>
                <div class="post-preview">
                    <a href="search/crawlerAndAntiCrawler/">
                        <h3 class-"post-title"> 【技术博客】爬虫原理及反爬虫技术 </h3> 
                    </a>
                </div>
                
                <span id="架构相关" class="fa fa-tag listing-seperator">
                    <span class="tag-text">架构相关</span>
                </span>
                <div class="post-preview">
                    <a href="architect/websiteTechnologyArchitecture/">
                        <h3 class-"post-title"> 大型网站技术架构（核心原理与案例分析） </h3> 
                    </a>
                </div>
				<div class="post-preview">
                    <a href="architect/springBoot/">
                        <h3 class-"post-title"> Java EE开发的颠覆者——Spring Boot实战 </h3> 
                    </a>
                </div>
				<div class="post-preview">
                    <a href="architect/springSourceDeepAnalyze/">
                        <h3 class-"post-title"> Spring源码深度解析 </h3> 
                    </a>
                </div>
                <div class="post-preview">
                    <a href="architect/internetArchitectureHighAvailability/">
                        <h3 class-"post-title"> 【技术博客】究竟啥才是互联网架构“高可用” </h3> 
                    </a>
                </div>
				<div class="post-preview">
                    <a href="architect/springScanCustomAnnotation/">
                        <h3 class-"post-title"> 【技术博客】正确实现用spring扫描自定义的annotation </h3> 
                    </a>
                </div>

                <span id="分布式相关" class="fa fa-tag listing-seperator">
                    <span class="tag-text">分布式相关</span>
                </span>
                <div class="post-preview">
                    <a href="distribute/paxosZookeeper/">
                        <h3 class-"post-title"> 从Paxos到ZooKeeper（分布式一致性原理与实践） </h3> 
                    </a>
                </div>
				
				<span id="中间件相关" class="fa fa-tag listing-seperator">
                    <span class="tag-text">中间件相关</span>
                </span>
                <div class="post-preview">
                    <a href="middleware/rabbitmqBasicConcepts/">
                        <h3 class-"post-title"> 【技术博客】RabbitMQ基础概念详细介绍 </h3> 
                    </a>
                </div>
				
				<span id="运维相关" class="fa fa-tag listing-seperator">
                    <span class="tag-text">运维相关</span>
                </span>
                <div class="post-preview">
                    <a href="operation/dockerPrimer/">
                        <h3 class-"post-title"> Docker-从入门到实践 </h3> 
                    </a>
                </div>
				
				<span id="版本控制系统" class="fa fa-tag listing-seperator">
                    <span class="tag-text">版本控制系统</span>
                </span>
                <div class="post-preview">
                    <a href="vcs/proGit/">
                        <h3 class-"post-title"> Pro Git </h3> 
                    </a>
                </div>
				
				<span id="开源代码学习" class="fa fa-tag listing-seperator">
                    <span class="tag-text">开源代码学习</span>
                </span>
                <div class="post-preview">
                    <a href="opensource/alibabaCanal/">
                        <h3 class-"post-title"> Canal：阿里巴巴mysql数据库binlog的增量订阅&amp;消费组件 </h3> 
                    </a>
                </div>

                <span id="其他" class="fa fa-tag listing-seperator">
                    <span class="tag-text">其他</span>
                </span>
                <div class="post-preview">
                    <a href="others/notes/">
                        <h3 class-"post-title"> 技术随记 </h3> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>